div.container-fluid{
    background-color: rgb(229,229,229);
}
body{
    padding: none!important;
}
.btn-risc,button,input[type="submit"]{
    background-color: #00a846;
    color: white;   
    border:none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;

}
.center{
    margin: 0px auto 0px auto;
}
form{

    min-width: 150px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    padding: 8px 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    margin: 5px 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}
.box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px
}
.box div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: center
}
fieldset {
    min-width: 250px;
    color: #00a846;
    margin: 5px 0;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #DCDCDC
}
fieldset legend {
    padding: 0 10px;
    font-weight: bold;
    text-transform: uppercase
}
a{
    text-decoration: none;
    color: #00a846;
}
a:hover{
  text-decoration: none;
  color:#00a846;
}

img{
    background-color: gray;
    margin: 0px auto 0px auto;
}
.bg-risc{
  background-color: #00a846;
}
footer{
    padding: 10px 20px;
}
.row{
    padding: 15px 0 15px 0;
}
.nav-lat{
    border-radius: 10px;
    margin-left: 15px;
    
}
.logo-cad-sup{
    margin:10px auto 30px auto; 
}
.logo-nav-sup{
    margin-top: 10px;
    margin-bottom: 100%;
}
.logo-nav-inf{
    margin-left: 25%;
}
.fik{
    margin: 0px;
    padding: 0px;
    max-width: 22%;
}
body{
    height: 100%;
}
.container-fluid{
    height: 100%;
}
.cont{
    display: block;
    border-radius: 10px;
    margin: 0 15px 0 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box ;
}
.link{
    background-color: #00a846;
    color: white;   
    border:none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}
.link:hover{
    color:white;
}
